// 布局相关
$nav-height: 46px;

// 颜色相关
$color-primary: #237ECD;
$color-success: #08CFBB;
$color-warning: #588482;
$color-danger: #F74343;
$color-info: #FF5EA9;
$color-text-regular: #204349;

// 响应式相关
$md-lg: 1448px;
$sm-md: 1080px;
$xs-sm: 690px;